@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* General styling */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.wrapper {
  /* Agrego un wrapper de max-width 1600px para lidiar con el stretching en dispositivos grandes */
  margin: 0 auto;
  max-width: 1600px;
}

.header nav {
  background-color: #00422b;
  padding: 1.25rem 0 0 0;
}
.header nav .container-fluid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.header nav .container-fluid > a {
  text-decoration: none;
}
.header nav .container-fluid > a .nav-banner {
  max-width: 300px;
}
.header nav .container-fluid > a .nav-title {
  color: #ffb144;
  font-size: 1.25rem;
  margin: 0 0 0 4.75rem;
}
.header nav .container-fluid .navbar-toggler {
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  margin: 2rem 0;
}
.header nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("./../media/hamburger.svg");
}
.header nav .container-fluid .navbar-collapse {
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav {
    height: 2rem;
    margin: 2rem 0;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: #fff;
  display: inline-block;
  margin: 0.5rem 0;
  position: relative;
  text-decoration: none;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link::after {
  background-color: #ffb144;
  border-radius: 40px;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
    margin: 0 1.25rem;
    padding: 0;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav > img {
  max-width: 250px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav > img {
    display: none;
  }
}
.header nav .container-fluid .navbar-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgb(1, 255, 1)), to(rgb(255, 177, 68)));
  background: linear-gradient(90deg, rgb(1, 255, 1) 0%, rgb(255, 177, 68) 100%);
  border: 0;
  height: 1rem;
  width: 100%;
}

.main {
  padding-top: 224px;
}
@media only screen and (min-width: 992px) {
  .main .main__hero .hero__content-image {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__hero .hero__content-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
  }
}
.main .main__hero .hero__content-image img {
  margin: 0 auto;
  width: 100%;
}
.main .main__hero .hero__content-text {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 800px;
  margin: 7.5rem auto;
  padding: 0 0.75rem;
  scroll-margin-top: 250px; /* Altura de la navbar + un extra para que el destino esté centrado */
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-text {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__hero .hero__content-text {
    padding: 0;
  }
}
.main .main__hero .hero__content-text span {
  color: #00422b;
  font-weight: 700;
}
.main .main__problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 576px) {
  .main .main__problem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.main .main__problem .problem__content-image {
  max-width: 300px;
}
.main .main__problem .problem__content-header {
  margin: 0 auto;
  padding: 0 0.75rem;
}
@media only screen and (min-width: 400px) {
  .main .main__problem .problem__content-header {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__problem .problem__content-header {
    padding: 0;
  }
}
.main .main__problem .problem__content-header .header__title {
  color: #ffb144;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
.main .main__problem .problem__content-header .header__text {
  max-width: 850px;
  font-size: 1.25rem;
}
.main .main__problem .problem__content-header .header__text p:first-of-type {
  margin: 0 0 1rem 0;
}
.main .main__solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.5rem 0.75rem;
}
@media only screen and (min-width: 400px) {
  .main .main__solution {
    padding: 7.5rem 2.5rem;
  }
}
.main .main__solution .solution__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 576px) {
  .main .main__solution .solution__content-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__solution .solution__content-header {
    scroll-margin-top: 250px; /* Altura de la navbar + un extra para que el destino esté centrado */
  }
}
.main .main__solution .solution__content-header .header__title {
  text-align: center;
}
.main .main__solution .solution__content-header .header__title p:first-of-type {
  color: #ffb144;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
.main .main__solution .solution__content-header .header__title p:last-of-type {
  font-size: 1.5rem;
}
.main .main__solution .solution__content-header .header__image {
  max-width: 400px;
}
.main .main__solution .solution__content-text {
  margin: 0 auto;
  max-width: 780px;
}
@media only screen and (min-width: 1366px) {
  .main .main__solution .solution__content-text {
    max-width: 925px;
  }
}
.main .main__solution .solution__content-text h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
.main .main__solution .solution__content-text h2 span:first-of-type {
  color: #ffb144;
}
.main .main__solution .solution__content-text h2 span:last-of-type {
  color: #75f94c;
}
.main .main__solution .solution__content-text p {
  font-size: 1.25rem;
}
.main .main__products {
  padding: 0 0.75rem 7.5rem 0.75rem;
}
.main .main__products .products__content-title {
  color: #ffb144;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 2.5rem 0;
  scroll-margin-top: 250px; /* Altura de la navbar + un extra para que el destino esté centrado */
  text-align: center;
}
.main .main__products .products__content-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__content-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 780px;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__products .products__content-container {
    max-width: 925px;
  }
}
.main .main__products .products__content-container .container__block {
  max-width: 375px;
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__content-container .container__block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.main .main__products .products__content-container .container__block img {
  width: 100%;
}
.main .main__products .products__content-container .container__block .block__title {
  color: #75f94c;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  text-align: center;
}
.main .main__team {
  padding: 0 0.75rem 7.5rem 0.75rem;
}
.main .main__team .team__content-header {
  margin: 0 0 3rem 0;
}
.main .main__team .team__content-header .header__title {
  color: #ffb144;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  scroll-margin-top: 250px; /* Altura de la navbar + un extra para que el destino esté centrado */
  text-align: center;
}
.main .main__team .team__content-header .header__text {
  font-size: 1.5rem;
  text-align: center;
}
.main .main__team .team__content-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 992px) {
  .main .main__team .team__content-container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
  }
}
.main .main__team .team__content-container .container__block {
  max-width: 425px;
}
@media only screen and (min-width: 992px) {
  .main .main__team .team__content-container .container__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}
.main .main__team .team__content-container .container__block img {
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}
.main .main__team .team__content-container .container__block .block__title {
  color: #000;
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}
.main .main__team .team__content-container .container__block .block__title span {
  color: #75f94c;
  font-weight: 600;
}
.main .main__team .team__content-container .container__block .block__text {
  margin: 0 0 1rem 0;
  text-align: center;
}
.main .main__team .team__content-container .container__block > a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0 0 0;
  text-decoration: none;
}
.main .main__team .team__content-container .container__block > a:hover {
  color: #ffb144;
  text-decoration: underline;
}
.main .main__team .team__content-container .container__block > a img {
  margin: 0 0 0 0.25rem;
  max-width: 1.75rem;
}

footer {
  background-color: #00422b;
  color: #fff;
}
footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.25rem 1.25rem;
}
@media only screen and (min-width: 576px) {
  footer .footer__wrapper {
    padding: 3.25rem 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3.25rem 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
footer .footer__wrapper .footer__image img {
  margin: 0 auto;
  max-width: 150px;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__image img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
footer .footer__wrapper .footer__text {
  margin: 2.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
footer .footer__wrapper .footer__text > p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text > p {
    font-size: 2rem;
    margin: auto 0;
  }
}
footer .footer__wrapper .footer__text > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text > div {
    margin: auto 0 0 0;
  }
}
footer .footer__wrapper .footer__text > div img {
  margin: 0 0 0 0.5rem;
  max-width: 50px;
}
footer .footer__wrapper .footer__contact {
  text-align: center;
}
footer .footer__wrapper .footer__contact p.title {
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
}
footer .footer__wrapper .footer__contact p.text {
  margin: 0 0 1rem 0;
}
footer .footer__wrapper .footer__contact > a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
footer .footer__wrapper .footer__contact > a:hover {
  color: #ffb144;
  text-decoration: underline;
}
footer .footer__wrapper .footer__contact > a img {
  margin: 0 0.5rem 0 0;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}/*# sourceMappingURL=styles.css.map */