@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* General styling */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.wrapper {
  /* Agrego un wrapper de max-width 1600px para lidiar con el stretching en dispositivos grandes */
  margin: 0 auto;
  max-width: 1600px;
}

.header nav {
  background-color: #00422b;
  padding: 0.25rem 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
@media only screen and (min-width: 992px) {
  .header nav {
    padding: 1.25rem 0 0 0;
    position: static;
  }
}
.header nav .container-fluid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header nav .container-fluid > a {
  text-decoration: none;
}
.header nav .container-fluid > a .nav-banner {
  max-width: 250px;
  margin: 0 0 0 5px;
}
@media only screen and (min-width: 350px) {
  .header nav .container-fluid > a .nav-banner {
    max-width: 300px;
    margin: 0 0 0 10px;
  }
}
@media only screen and (min-width: 350px) {
  .header nav .container-fluid > a .nav-banner {
    margin: 0;
  }
}
.header nav .container-fluid .navbar-toggler {
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  margin: 2rem 0;
}
.header nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("./../media/hamburger.svg");
}
.header nav .container-fluid .navbar-collapse {
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav {
    height: 2rem;
    margin: 1rem 0 0.15rem 0;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: #fff;
  display: inline-block;
  margin: 0.5rem 0;
  position: relative;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.125rem;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link::after {
  background-color: #ffb144;
  border-radius: 40px;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
    margin: 0 1.25rem;
    padding: 0;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav > img {
  max-width: 250px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav > img {
    display: none;
  }
}
.header nav .container-fluid .navbar-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgb(1, 255, 1)), to(rgb(255, 177, 68)));
  background: linear-gradient(90deg, rgb(1, 255, 1) 0%, rgb(255, 177, 68) 100%);
  border: 0;
  height: 0.5rem;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-gradient {
    height: 1rem;
  }
}

.main {
  padding-top: 104px;
}
@media only screen and (min-width: 992px) {
  .main {
    padding-top: 0;
  }
}
.main .main__hero {
  z-index: 3;
}
.main .main__hero .hero__content-image {
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .main .main__hero .hero__content-image {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__hero .hero__content-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
  }
}
.main .main__hero .hero__content-image img {
  margin: 0 auto;
  width: 100%;
  -webkit-animation-name: hero-animation;
          animation-name: hero-animation;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes hero-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes hero-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.main .main__hero .hero__content-text {
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 5rem 0.75rem;
  text-align: center;
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-text {
    padding: 5rem 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__hero .hero__content-text {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__hero .hero__content-text {
    padding: 5rem 0;
  }
}
.main .main__hero .hero__content-text h2 {
  display: inline;
}
.main .main__hero .hero__content-text span {
  color: #00422b;
  font-weight: 500;
}
.main .main__problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 5rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__problem {
    padding: 0 0 2rem 0;
  }
}
.main .main__problem > img {
  display: none;
}
@media only screen and (min-width: 576px) {
  .main .main__problem > img {
    -ms-flex-item-align: center;
        align-self: center;
    display: block;
    max-width: 225px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__problem > img {
    max-width: 300px;
  }
}
.main .main__problem .problem__content-header {
  margin: auto;
  padding: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (min-width: 992px) {
  .main .main__problem .problem__content-header {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
.main .main__problem .problem__content-header .header__title {
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .main .main__problem .problem__content-header .header__title {
    font-size: 2.5rem;
  }
}
.main .main__problem .problem__content-header .header__text {
  margin: 0 auto;
  max-width: 775px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .main .main__problem .problem__content-header .header__text {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1500px) {
  .main .main__problem .problem__content-header .header__text {
    max-width: 1200px;
  }
}
.main .main__problem .problem__content-header .header__text p:first-of-type {
  margin: 0 0.5rem 1rem 0.5rem;
}
.main .main__problem .problem__content-header .header__text p .bold1 {
  font-weight: 700;
}
.main .main__problem .problem__content-header .header__text p .bold2 {
  font-weight: 700;
  color: #75f94c;
}
.main .main__solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 5rem 0;
}
.main .main__solution .solution__content-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  scroll-margin-top: 150px; /* Altura de la navbar + un extra para que el destino esté centrado */
}
@media only screen and (min-width: 576px) {
  .main .main__solution .solution__content-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main .main__solution .solution__content-header .header__text {
  margin: auto;
  max-width: 775px;
  text-align: center;
}
@media only screen and (min-width: 1500px) {
  .main .main__solution .solution__content-header .header__text {
    max-width: 900px;
  }
}
.main .main__solution .solution__content-header .header__text > p {
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__solution .solution__content-header .header__text > p {
    font-size: 2.5rem;
  }
}
.main .main__solution .solution__content-header > img {
  display: none;
}
@media only screen and (min-width: 576px) {
  .main .main__solution .solution__content-header > img {
    -ms-flex-item-align: center;
        align-self: center;
    display: block;
    max-width: 225px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__solution .solution__content-header > img {
    max-width: 300px;
  }
}
.main .main__solution .solution__content-header .solution__subtitle {
  font-size: 1.125rem;
  margin: 0 1rem;
  padding: 0 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .main .main__solution .solution__content-header .solution__subtitle {
    font-size: 1.4rem;
  }
}
.main .main__solution .solution__content-header .solution__subtitle span:first-of-type {
  color: #ffb144;
}
.main .main__solution .solution__content-header .solution__subtitle span:last-of-type {
  color: #75f94c;
}
.main .main__solution .solution__content-header .solution__text {
  margin: 0 auto;
  padding: 0 2.5rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .main .main__solution .solution__content-header .solution__text {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__solution .solution__content-header .solution__text {
    font-size: 1.125rem;
    padding: 0;
  }
}
.main .main__products {
  padding: 0 0.75rem 5rem 0.75rem;
}
.main .main__products .products__content-title {
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  scroll-margin-top: 150px; /* Altura de la navbar + un extra para que el destino esté centrado */
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__products .products__content-title {
    font-size: 2.25rem;
  }
}
.main .main__products .products__advantages {
  font-size: 1.125rem;
  max-width: 1000px;
  margin: auto;
  padding: 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__advantages {
    padding: 0;
  }
}
.main .main__products .products__advantages .advantages__content-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__advantages .advantages__content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.main .main__products .products__advantages .advantages__content-container .block__text {
  background: white;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 1em;
  min-width: 250px;
  max-width: 500px;
  padding: 2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .main .main__products .products__advantages .advantages__content-container .block__text {
    font-size: 1.2rem;
  }
}
.main .main__products .products__advantages .advantages__content-container .block__text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#75f94c), to(#ffb144));
  background: linear-gradient(to right, #75f94c, #ffb144);
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__advantages .advantages__content-container .block__text {
    min-width: 250px;
    max-width: 300px;
  }
}
.main .main__products .products__content-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin: 0 auto 3rem auto;
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__content-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 5rem auto;
    max-width: 780px;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__products .products__content-container {
    max-width: 925px;
  }
}
.main .main__products .products__content-container .container__block {
  max-width: 360px;
}
@media only screen and (min-width: 768px) {
  .main .main__products .products__content-container .container__block {
    max-width: 375px;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__products .products__content-container .container__block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.main .main__products .products__content-container .container__block img {
  width: 100%;
}
.main .main__products .products__content-container .container__block .block__title {
  color: #75f94c;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__products .products__content-container .container__block .block__title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__products .products__content-container .container__block .block__text {
    font-size: 1.125rem;
  }
}
.main .main__impact {
  padding: 0 0.75rem 5rem 0.75rem;
}
.main .main__impact .impact__content-title {
  /* Altura de la navbar + un extra para que el destino esté centrado */
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  scroll-margin-top: 150px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__impact .impact__content-title {
    font-size: 2.25rem;
  }
}
.main .main__impact .impact__content-container {
  font-size: 1.125rem;
  margin: auto;
  max-width: 625px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__impact .impact__content-container {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__impact .impact__content-container {
    max-width: 1000px;
  }
}
.main .main__impact .impact__content-container .block-text {
  margin: 0 auto;
  max-width: 650px;
  padding: 1rem;
}
.main .main__impact .impact__content-container .block-text span {
  color: #00422b;
  font-weight: 500;
}
.main .main__impact .impact__content-container .impact__image-container {
  margin-top: 2rem;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.main .main__impact .impact__content-container .impact__image-container img {
  max-width: 150px;
  border-radius: 25px;
}
.main .main__team {
  padding: 0 0.75rem 5rem 0.75rem;
}
.main .main__team .team__content-header {
  margin: 0 0 3rem 0;
}
.main .main__team .team__content-header .header__title {
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  scroll-margin-top: 0px; /* Altura de la navbar + un extra para que el destino esté centrado */
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__team .team__content-header .header__title {
    font-size: 2.25rem;
  }
}
.main .main__team .team__content-header .header__text {
  font-size: 1.125rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__team .team__content-header .header__text {
    font-size: 1.4rem;
  }
}
.main .main__team .team__content-header .header__text span {
  color: #00422b;
}
.main .main__team .team__content-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 992px) {
  .main .main__team .team__content-container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
  }
}
.main .main__team .team__content-container .container__block {
  max-width: 425px;
}
@media only screen and (min-width: 992px) {
  .main .main__team .team__content-container .container__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}
.main .main__team .team__content-container .container__block img {
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  border-radius: 100%;
}
.main .main__team .team__content-container .container__block .block__title {
  color: #000;
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}
.main .main__team .team__content-container .container__block .block__title span {
  color: #75f94c;
  font-weight: 600;
}
.main .main__team .team__content-container .container__block .block__text {
  margin: 0 0 1rem 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .main .main__team .team__content-container .container__block .block__text {
    padding: 0 0.5rem;
  }
}
.main .main__team .team__content-container .container__block > a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0 0 0;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.main .main__team .team__content-container .container__block > a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main .main__team .team__content-container .container__block > a img {
  margin: 0 0 0 0.25rem;
  max-width: 5rem;
  border-radius: 0;
}
.main .main__sponsors {
  padding: 0 0 5rem 0;
}
.main .main__sponsors .sponsors__title {
  color: #ffb144;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main .main__sponsors .sponsors__title {
    font-size: 2.25rem;
  }
}
.main .main__sponsors .sponsors__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 576px) {
  .main .main__sponsors .sponsors__images {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.main .main__sponsors .sponsors__images img {
  width: 200px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.main .main__sponsors .sponsors__images img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.main .main__invitation {
  font-size: 1.5rem;
  padding: 0 0.75rem 5rem 0.75rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .main .main__invitation {
    font-size: 1.75rem;
  }
}
.main .main__invitation .invitation-top {
  color: #00422b;
}
.main .main__invitation .invitation-middle {
  padding: 1.5rem 0;
  font-size: 1.75rem;
  color: #75f94c;
  font-weight: 800;
}
@media only screen and (min-width: 992px) {
  .main .main__invitation .invitation-middle {
    font-size: 2.25rem;
  }
}
.main .main__invitation .invitation-bottom {
  color: #ffb144;
}

footer {
  background-color: #00422b;
  color: #fff;
}
footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.25rem 1.25rem;
}
@media only screen and (min-width: 576px) {
  footer .footer__wrapper {
    padding: 3.25rem 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3.25rem 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
footer .footer__wrapper .footer__image img {
  margin: 0 auto;
  max-width: 150px;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__image img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
footer .footer__wrapper .footer__text {
  margin: 2.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
footer .footer__wrapper .footer__text > p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text > p {
    font-size: 2rem;
    margin: auto 0;
  }
}
footer .footer__wrapper .footer__text > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__text > div {
    margin: auto 0 0 0;
  }
}
footer .footer__wrapper .footer__text > div img {
  margin: 0 0 0 0.5rem;
  max-width: 50px;
}
footer .footer__wrapper .footer__contact {
  text-align: center;
}
footer .footer__wrapper .footer__contact p.title {
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
}
footer .footer__wrapper .footer__contact p.text {
  margin: 0 0 1rem 0;
}
footer .footer__wrapper .footer__contact > a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
footer .footer__wrapper .footer__contact > a:hover {
  color: #ffb144;
  text-decoration: underline;
}
footer .footer__wrapper .footer__contact > a img {
  margin: 0 0.5rem 0 0;
}
@media only screen and (min-width: 992px) {
  footer .footer__wrapper .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
footer .up-arrow {
  display: none;
  position: fixed;
  width: 50px;
  border: 3px solid #ffb144;
  border-radius: 10px;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
footer .up-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #75f94c;
}
footer .up-arrow:focus footer .up-arrow:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: none;
}
@media screen {
  footer .up-arrow {
    min-width: 992;
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */