.main {
  padding-top: 104px;
  @media only screen and (min-width: 992px) {
    padding-top: 0;
  }
  .main__hero {
    .hero__content-image {
      z-index: 3;
      position: relative;
      overflow: hidden;
      @media only screen and (min-width: 992px) {
        flex-basis: 60%;
        margin: 0;
        padding: 0;
      }
      @media only screen and (min-width: 1200px) {
        flex-basis: 100%;
        margin: 0 auto;
      }
      img {
        margin: 0 auto;
        width: 100%;
        @keyframes hero-animation {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.2);
          }
        }
        animation-name: hero-animation;
        animation-duration: 20s;
        animation-delay: 0;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .hero__content-text {
      font-size: 1.25rem;
      margin: 0 auto;
      max-width: 800px;
      padding: 5rem 0.75rem;
      text-align: center;
      @media only screen and (min-width: 400px) {
        padding: 5rem 2.5rem;
      }
      @media only screen and (min-width: 768px) {
        font-size: 1.75rem;
      }
      @media only screen and (min-width: 992px) {
        padding: 5rem 0;
      }
      h2 {
        display: inline;
      }
      span {
        color: $darkGreen;
        font-weight: 500;
      }
    }
  }

  .main__problem {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0 0 5rem 0;
    @media only screen and (min-width: 992px) {
      padding: 0 0 2rem 0;
    }
    & > img {
      display: none;
      @media only screen and (min-width: 576px) {
        align-self: center;
        display: block;
        max-width: 225px;
        width: 100%;
      }
      @media only screen and (min-width: 1200px) {
        max-width: 300px;
      }
    }

    .problem__content-header {
      margin: auto;
      padding: 0 0.5rem;
      flex-grow: 1;
      @media only screen and (min-width: 992px) {
        flex-grow: 0;
      }
      @media only screen and (min-width: 1200px) {
        padding: 3rem 0.5rem 0 0;
      }
      .header__title {
        color: $orange;
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        @media only screen and (min-width: 768px) {
          font-size: 2.5rem;
        }
      }
      .header__text {
        margin: 0 auto;
        max-width: 775px;
        font-size: 1.125rem;
        @media only screen and (min-width: 768px) {
          font-size: 1.4rem;
        }
        @media only screen and (min-width: 1500px) {
          max-width: 1200px;
        }
        p {
          &:first-of-type {
            margin: 0 0.5rem 1rem 0.5rem;
          }
          .bold1 {
            font-weight: 700;
          }
          .bold2 {
            font-weight: 700;
            color: $lightGreen;
          }
        }
      }
    }
  }

  .main__solution {
    display: flex;
    flex-direction: column;
    padding: 0 0 5rem 0;
    @media only screen and (min-width: 1200px) {
      padding: 0 0 3rem 0;
    }
    .solution__content-header {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 0;
      scroll-margin-top: 150px; /* Altura de la navbar + un extra para que el destino esté centrado */
      @media only screen and (min-width: 576px) {
        flex-direction: row;
        justify-content: space-between;
      }
      .header__text {
        margin: auto;
        max-width: 775px;
        padding: 0 0.5rem;
        text-align: center;
        @media only screen and (min-width: 1200px) {
          padding: 0 0.5rem 3rem 0.5rem;
        }
        @media only screen and (min-width: 1500px) {
          max-width: 900px;
        }
        & > p {
          color: $orange;
          font-size: 1.75rem;
          font-weight: 700;
          margin: 0 0 1.5rem 0;
          text-align: center;
          @media only screen and (min-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }
      & > img {
        display: none;
        @media only screen and (min-width: 576px) {
          align-self: center;
          display: block;
          max-width: 225px;
          width: 100%;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 300px;
        }
      }
      .solution__subtitle {
        font-size: 1.125rem;
        margin: 0 1rem;
        padding: 0 0 2rem 0;
        @media only screen and (min-width: 768px) {
          font-size: 1.4rem;
        }
        span {
          &:first-of-type {
            color: $orange;
          }

          &:last-of-type {
            color: $lightGreen;
          }
        }
      }
      .solution__text {
        margin: 0 auto;
        padding: 0 2.5rem;
        text-align: center;
        @media only screen and (max-width: 576px) {
          display: none;
        }
        @media only screen and (min-width: 768px) {
          font-size: 1.125rem;
          padding: 0;
        }
      }
    }
  }

  .main__products {
    padding: 0 0.75rem 5rem 0.75rem;
    .products__content-title {
      color: $orange;
      font-size: 1.75rem;
      font-weight: 700;
      margin: 0 0 1.5rem 0;
      scroll-margin-top: 150px; /* Altura de la navbar + un extra para que el destino esté centrado */
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 2.25rem;
      }
    }
    .products__advantages {
      font-size: 1.125rem;
      max-width: 1000px;
      margin: auto;
      padding: 0 0.75rem;
      @media only screen and (min-width: 992px) {
        padding: 0;
      }
      .advantages__content-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
        }
        .block__text {
          background: white;
          background-clip: padding-box;
          border: solid 3px transparent;
          border-radius: 1em;
          min-width: 250px;
          max-width: 500px;
          padding: 2rem;
          position: relative;
          text-align: center;
          vertical-align: middle;
          @media only screen and (min-width: 768px) {
            font-size: 1.2rem;
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -3px;
            border-radius: inherit;
            background: linear-gradient(to right, $lightGreen, $orange);
          }
          @media only screen and (min-width: 992px) {
            min-width: 250px;
            max-width: 300px;
          }
        }
      }
    }
    .products__content-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin: 0 auto 3rem auto;
      @media only screen and (min-width: 992px) {
        align-items: start;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        margin: 0 auto 5rem auto;
        max-width: 780px;
      }
      @media only screen and (min-width: 1366px) {
        max-width: 925px;
      }
      .container__block {
        max-width: 360px;
        @media only screen and (min-width: 768px) {
          max-width: 375px;
        }
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
        }
        img {
          width: 100%;
        }
        .block__title {
          color: $lightGreen;
          font-size: 1.4rem;
          font-weight: 600;
          margin: 2rem 0 1rem 0;
          text-align: center;
          @media only screen and (min-width: 768px) {
            font-size: 1.5rem;
          }
        }
        .block__text {
          @media only screen and (min-width: 768px) {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .main__impact {
    padding: 0 0.75rem 5rem 0.75rem;
    .impact__content-title {
      /* Altura de la navbar + un extra para que el destino esté centrado */
      color: $orange;
      font-size: 1.75rem;
      font-weight: 700;
      margin: 0;
      scroll-margin-top: 150px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 2.25rem;
      }
    }
    .impact__content-container {
      font-size: 1.125rem;
      margin: auto;
      max-width: 625px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
      @media only screen and (min-width: 1200px) {
        max-width: 1000px;
      }
      .block-text {
        margin: 0 auto;
        max-width: 650px;
        padding: 1rem;
        span {
          color: $darkGreen;
          font-weight: 500;
        }
      }
      .impact__image-container {
        margin-top: 2rem;
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        flex-basis: 40%;
        img {
          max-width: 150px;
          border-radius: 25px;
        }
      }
    }
  }

  .main__team {
    padding: 0 0.75rem 5rem 0.75rem;
    .team__content-header {
      margin: 0 0 3rem 0;
      .header__title {
        color: $orange;
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        scroll-margin-top: 0px; /* Altura de la navbar + un extra para que el destino esté centrado */
        text-align: center;
        @media only screen and (min-width: 768px) {
          font-size: 2.25rem;
        }
      }
      .header__text {
        font-size: 1.125rem;
        text-align: center;
        @media only screen and (min-width: 768px) {
          font-size: 1.4rem;
        }
        span {
          color: $darkGreen;
        }
      }
    }
    .team__content-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @media only screen and (min-width: 992px) {
        align-items: stretch;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1000px;
      }
      .container__block {
        max-width: 425px;
        @media only screen and (min-width: 992px) {
          display: flex;
          flex-direction: column;
          flex-basis: 33%;
        }
        img {
          margin: 0 auto;
          max-width: 250px;
          width: 100%;
          border-radius: 100%;
        }
        .block__title {
          color: #000;
          font-size: 1.5rem;
          margin: 2rem 0 1rem 0;
          text-align: center;
          span {
            color: $lightGreen;
            font-weight: 600;
          }
        }
        .block__text {
          margin: 0 0 1rem 0;
          text-align: center;
          @media only screen and (min-width: 992px) {
            padding: 0 0.5rem;
          }
          p {
            &:first-of-type {
              margin: 0 0 0.75rem 0;
            }
          }
        }
        & > a {
          align-items: center;
          color: #000;
          display: flex;
          justify-content: center;
          margin: auto 0 0 0;
          transition: transform 200ms ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
          img {
            margin: 0 0 0 0.25rem;
            max-width: 5rem;
            border-radius: 0;
          }
        }
      }
    }
  }

  .main__sponsors {
    padding: 0 0 5rem 0;
    .sponsors__title {
      color: $orange;
      font-size: 1.75rem;
      font-weight: 700;
      margin: 0 0 1.5rem 0;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 2.25rem;
      }
    }
    .sponsors__images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      @media only screen and (min-width: 576px) {
        align-items: flex-end;
        flex-direction: row;
      }
      img {
        width: 200px;
        transition: transform 200ms ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .main__invitation {
    font-size: 1.5rem;
    padding: 0 0.75rem 5rem 0.75rem;
    text-align: center;
    @media only screen and (min-width: 992px) {
      font-size: 1.75rem;
    }
    .invitation-top {
      color: $darkGreen;
    }
    .invitation-middle {
      padding: 1.5rem 0;
      font-size: 1.75rem;
      color: $lightGreen;
      font-weight: 800;
      @media only screen and (min-width: 992px) {
        font-size: 2.25rem;
      }
    }
    .invitation-bottom {
      color: $orange;
    }
  }
}
